<label>Usuario: {{email}}</label><br><br>


<form class="form1">

    <label class="label1" >Menu Admin</label><br><br>

    <button class="altaMateria"  (click)="altaMateria()">Alta Materia</button>
    
    <button class="inscripcionMateria" style="margin-left: 10px;" (click)="inscripcionMateria()">Inscripcion Materia</button>

    <button class="verMaterias" style="margin-left: 10px;" (click)="verMaterias()">Ver Materias</button>

    <button class="verUsuarios" style="margin-left: 10px;" (click)="verUsuarios()">Ver Usuarios</button>

    
</form>
